# Checkout config tool: https://zed0.co.uk/clang-format-configurator/
# Or http://cf.monofraps.net/
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
# https://github.com/01org/parameter-framework/blob/master/.clang-format

---
BasedOnStyle: Chromium
AllowAllParametersOfDeclarationOnNextLine: 'false'
BinPackParameters: 'false'
ColumnLimit: '0'
IndentWidth: '4'
TabWidth: '4'
UseTab: Never
SortIncludes: false

...
